.simplify {
  /* Agrega estilos según sea necesario para el contenedor principal */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: left -5vw top;
}

.row.content-row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.simplify-left,
.simplify-right {
  padding: 20px; /* Ajusta el espaciado según sea necesario */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  align-self: center; /* Centro el botón */
  padding: 10px 20px; /* Ajusta el espaciado interno del botón según sea necesario */
}

.button-inverse {
  font-family: 'Be Vietnam', sans-serif;
  padding: 13px 32px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.simp-btn {
  position: center;
  top: 7vh;
  left: 50%;
}

@media screen and (max-width: 990px) {
  .simplify-left h1 {
      font-size: 2.2em;
  }

  .simplify-left,
  .simplify-right {
      width: 100%; /* Ocupa todo el ancho en dispositivos más pequeños */
  }

  .simp-btn {
      position: center;
      top: 0;
      left: 0;
      transform: none; /* Restablece la transformación para centrar el botón en dispositivos más pequeños */
  }
}

.social-icons {
  margin-top: 1em; /* Ajusta el margen según tus necesidades */
}

.social-icons a {
  display: inline-block;
  margin-right: 1em; /* Espacio entre los iconos, ajusta según tus necesidades */
}

.social-icons img {
  width: 30px; /* Ajusta el tamaño de los iconos según tus necesidades */
  height: auto;
}

@media screen and (max-width: 990px) {
  .col-6 {
      width: 100%; /* Cambia el ancho de las columnas al 100% en dispositivos más pequeños */
  }